  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

<div class="container jumbotron">
	<div class="row">
		<div class="col-md-12">
		<h2 class="d-flex justify-content-center text-danger">Add New Product</h2>
	</div>
</div>
	<form action="/addPro/" method="post" enctype="multipart/form-data" >
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="proname" class="form-control">
		</div>
		<div class="form-group">
			<label>Ingrediant</label>
			<input type="text" name="ingrediant" class="form-control">
		</div>
		<div class="form-group">
			<label>Image :</label>
			<input type="file" name="image" class="m-3">
		</div>
		<div class="form-group">
			<label>Price</label>
			<input type="text" name="price" class="form-control">
		</div>
		<div class="form-group">
			<label>Discount</label>
			<input type="text" name="discount" class="form-control">
		</div>
		<div class="form-group">
            <label>Category</label>
        <select name="category" class="form-control">
            <option >Select</option>
                <% result.forEach(function(x){ %>
                    <option class="form-control" ><%= x.name %></option>
                <% }) %>
        </select>
        </div>
		<div class="form-group">
			<label>Company</label>
			<input type="text" name="company" class="form-control">
		</div>
		<div class="form-group">
			<label for="season" type="checkbox" >Season (मौसम) :- </label>
			<input id="season" type="checkbox" name="rainy" value="season" class="m-2 ml-4">Rainy (बरसात)
			<input id="season" type="checkbox" name="winter"  value="season" class="m-2">Winter (सर्दी)
			<input id="season" type="checkbox" name="summer" value="season"  class="m-2">Summer (गर्मी)
			<button class="btn btn-success" id="Season"></button>
		</div>
		<div class="form-group">
			<label>Crops Type :-</label>
			<input id="type" type="checkbox" name="kharif" value="type" class="m-2 ml-4">Kharif
			<input id="type" type="checkbox" name="rabi" value="type"  class="m-2">Rabi
			<input id="type" type="checkbox" name="other" value="type" class="m-2">Other
		</div>
<div class="form-group ui checkbox toggle">
			<label>Rabi Crops (October-March) :-</label>
			<hr class="m-0">
			<input id="rabi" type="checkbox" value="rabi" name="wheat" class="m-2">Wheat (गेंहू)
			<input id="rabi" type="checkbox" value="rabi" name="gram"  class="m-2">Gram (चना)
			<input id="rabi" type="checkbox" value="rabi" name="onion"  class="m-2">Onion (प्याज)
			<input id="rabi" type="checkbox" value="rabi" name="potato"  class="m-2">Potato (आलू)
			<input id="rabi" type="checkbox" value="rabi" name="fenugreek"  class="m-2">Fenugreek (मेंथी)
			<input id="rabi" type="checkbox" value="rabi" name="peas"  class="m-2">Peas (मटर)
			<input id="rabi" type="checkbox" value="rabi" name="tomato"  class="m-2">Tomato (टमाटर)
			<input id="rabi" type="checkbox" value="rabi" name="coriender"  class="m-2">Coriender (धनिया)
			<input id="rabi" type="checkbox" value="rabi" name="mustard"  class="m-2">Mastard (सरसों)
			<input id="rabi" type="checkbox" value="rabi" name="maiz" class="m-2">Maiz (अक्सर)
			<input id="rabi" type="checkbox" value="rabi" name="lucerne"  class="m-2">Lucerne (लचका / बरसी)
			<input id="rabi" type="checkbox" value="rabi" name="barley"  class="m-2">Barley (जौ)
			<input id="rabi" type="checkbox" value="rabi" name="fennel"  class="m-2">Fennel (सौंफ)
			<hr>
			<hr>
</div>
			<div class="form-group">
			<label>Kharif Crops (July–October):-</label>
			<hr class="m-0">
			<input id="kharif" type="checkbox" value="kharif" name="soyabean"  class="m-2">Soyabean (सोयाबीन)
			<input id="kharif" type="checkbox" value="kharif" name="groundnut" class="m-2">Ground Nut (मूंगफली)
			<input id="kharif" type="checkbox" value="kharif" name="paddy"  class="m-2">Paddy (धान)
			<input id="kharif" type="checkbox" value="kharif" name="gour" class="m-2">Gour (ग्वार)
			<input id="kharif" type="checkbox" value="kharif" name="castor"  class="m-2">Castor (रेंड़ी)
			<input id="kharif" type="checkbox" value="kharif" name="cotton"  class="m-2">Cotton (कपास)
			<input id="kharif" type="checkbox" value="kharif" name="chilli"  class="m-2">Chilli (मिर्च)
			<input id="kharif" type="checkbox" value="kharif" name="jawar"  class="m-2">Jawar (जवार)
			<input id="kharif" type="checkbox" value="kharif" name="sesame"  class="m-2">Sesame (तिल)
			<input id="kharif" type="checkbox" value="kharif" name="maize"  class="m-2">Maize (मक्का)
			<input id="kharif" type="checkbox" value="kharif" name="urad" class="m-2">Urad (दफ्तर)
			<input id="kharif" type="checkbox" value="kharif" name="bajra"  class="m-2">Bajra (बाजरा)
			<input id="kharif" type="checkbox" value="kharif" name="arhar"  class="m-2">Arhar (अरहर)
			<hr>
</div>
		<div class="form-group">
			<label>Rating</label>
			<input type="text" name="rating"  class="form-control">
		</div>
	<button class="btn btn-success" type="submit" value="upload">Add
	 <!-- <span class="spinner-border spinner-border-sm"></span> -->
	</button>
	<button class="btn btn-info" href="/addPro/">Back</button>
	<p class="text-danger"><%= message %></p>
	</form>
</div>
