<nav class="navbar navbar-expand-sm bg-success justify-content-center">
	<a class="navbar-brand" href="#">
    <img src="favicon.ico" alt="FasalBazar.com" style="width:50; border-radius: 115px;">
  </a>
</nav>
<div class="jumbotron">
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="d-flex justify-content-center">
				<h1 class="display-3">Welcome</h1>
			</div>
			<div class="d-flex justify-content-center">
				<h1 class="display-3">This page is under development</h1>
			</div>
			<div class="d-flex justify-content-center">
				<p>Soon we will provide you this service</p>
			</div>
		</div>	
	</div>
</div>
